* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 40px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
}
.header__nav {
  padding-right: 48px;
  display: flex;
  gap: 48px;
  align-items: center;
}
.header__nav__link {
  color: #4D5053;
  font-family: "Jost";
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: center;
  display: block;
}

.banner {
  margin-top: 57px;
}
.banner__background {
  background-image: url("../img/banner.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 758px;
  border-radius: 70px;
  display: flex;
  align-items: center;
}
.banner__content {
  max-width: 434px;
  margin-left: 52px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner__content__title {
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 65px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
}
.banner__content__text {
  color: #4D5053;
  font-family: "Jost";
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1%;
  text-align: left;
}
.banner__content__btn {
  color: rgb(255, 255, 255);
  font-family: "Jost";
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: center;
  border-radius: 18px;
  background: #292f36;
  width: 220.14px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.project {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project__title {
  margin-bottom: 8px;
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: center;
}
.project__text {
  color: #4D5053;
  font-family: "Jost";
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1%;
  text-align: center;
  margin-bottom: 93px;
  max-width: 737px;
}
.project__contener {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 56px;
}
.project__item__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.project__item__content-title {
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: left;
}
.project__item__content-text {
  margin-top: 4px;
  color: #4D5053;
  font-family: "Jost";
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1%;
  text-align: left;
}
.counter {
  background: rgb(244, 240, 236);
  margin-top: 95px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.counter__item {
  border-right: 1px solid #cda274;
  padding-right: 84px;
  margin-top: 151px;
  margin-bottom: 151px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.counter__item:last-child {
  border-right: none;
  padding-right: 0;
}
.counter__item__title {
  color: rgb(205, 162, 116);
  font-family: "DM Serif Display";
  font-size: 85px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: left;
}
.counter__item__text {
  color: #4D5053;
  font-family: "Jost";
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1%;
  text-align: left;
}

.blog {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog__title {
  margin-bottom: 12px;
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: center;
}
.blog__text {
  margin-bottom: 52px;
  max-width: 805px;
  color: #4D5053;
  font-family: "Jost";
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1%;
  text-align: center;
}
.blog__contener {
  margin-top: 21px;
  margin-bottom: 96px;
  display: flex;
  gap: 48px;
}

.articlesNews__articls {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.articlesNews__articls__item {
  padding: 21px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 62px;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.articlesNews__articls__item:hover {
  background: #f4f0ec;
}
.articlesNews__articls__item:hover circle {
  fill: white;
}
.articlesNews__articls__item-imgContener {
  position: relative;
}
.articlesNews__articls__item-tag {
  position: absolute;
  top: 228px;
  left: 20px;
  border-radius: 8px 8px 8px 0px;
  background: rgb(255, 255, 255);
  padding: 8px 10px;
  color: #4D5053;
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1%;
  text-align: left;
  text-transform: capitalize;
}
.articlesNews__articls__item-content {
  margin-top: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.articlesNews__articls__item-title {
  max-width: 305px;
  margin-bottom: 20px;
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: left;
}
.articlesNews__articls__item-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.articlesNews__articls__item-data-data {
  color: #4D5053;
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1%;
  text-align: left;
  text-transform: capitalize;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 134px;
}
.footer__interno__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 18px;
}
.footer__interno__logo p {
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 40px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
}
.footer__interno__text {
  max-width: 380px;
  margin-bottom: 31px;
  color: #4D5053;
  font-family: "Jost";
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1%;
  text-align: left;
}
.footer__interno__icons {
  display: flex;
  align-items: center;
  gap: 54px;
}
.footer__pages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  width: 125px;
}
.footer__pages__title {
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
}
.footer__pages__link {
  color: #4D5053;
  font-family: "Jost";
  font-size: 22px;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 1%;
  text-align: left;
}
.footer__contact {
  max-width: 258px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer__contact__title {
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
}
.footer__contact__info {
  color: #4D5053;
  font-family: "Jost";
  font-size: 22px;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 1%;
  text-align: left;
}/*# sourceMappingURL=style.css.map */